<html>
    <head>
       <title>Dojo Survey with validation</title>
    </head>
    <body>
      
      
      <form action='/process' method='POST'>
          <div>
          Email: <input type='text' name='email'><br>


          First Name: <input type='text' name='first_name'><br>


          Last Name: <input type='text' name='last_name'><br>


          Password: <input type='password' name='password'><br>


          Confirm Password: <input type='password' name='confirm_password'><br>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <p>{{message}}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}          

          <input type='submit' value='create user'>

          </div>
      </form>
    </body
</html>