<html>
    <head>
       <title>Dojo Survey Index</title>
    </head>
    <body>
      
      
      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
      <form action='http://localhost:5000/results' method='POST'>
          <div>
          Your Name: <input type='text' name='name'><br>
          Dojo Location: 
          <select name="location">
            <option value="San Jose">San Jose</option>
            <option value="Chicago">Chicago</option>
            <option value="SeaLab2021">SeaLab2021</option>
            <option value="Space Station Zion">Space Station Zion</option>
          </select><br>
          Favorite Language: 
          <select name="language">
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
            <option value="Ruby">Ruby</option>
            <option value="French">French</option>
          </select><br>
          Comment (optional): <input type='text' name='comments'><br>

          <input type='submit' value='create user'>
          </div>
      </form>
    </body>
</html>