<html>
<head>
  <title>Course App</title>
</head>
<body>
  <h1>Add a new course</h1>
  <form action="{% url 'course_app:add' %}" method="POST">
    {% csrf_token %}
    <p>Name:</p>
      <input type='text' name="name">
    <p>Description:</p>
      <input type='text' name="desc">
      <input type="submit" name="add" value="Add">
  </form>

  <h1>Courses</h1>
  <table>
    <th>Course Name</th>
    <th>Date Added</th>
    <th>Description</th>
    <th>Actions</th>

      {% for idx in courses %}

        <tr>
          <td>{{ idx.name }}</td>
          <td>{{ idx.created_at }}</td>
          <td>{{ idx.descriptions.desc }}</td>
          <td><a href="/delete/{{idx.id}}">Delete</a></td>
        </tr>

      {% endfor %}
  


  </table>
  <a href="{% url 'course_app:student_add' %}">Add Students to Courses</a>


</body>
</html>