<h1>Orders</h1>

<h3>Add a new order</h3>

<form ng-submit="addOrder()">
  <label>Customer</label>
    <select ng-model="order.userId" ng-options="user.name for user in users">
    <!-- 
<select ng-options="item as item.label for item in items track by item.id" ng-model="selected"></select> -->
<!--       <option value="{{user.id}}" ng-repeat="user in users">{{user.name}}</option> -->
    </select>
  <label>How many burritos</label>
    <select ng-model="order.quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
    </select>
  <label>Which burrito</label>
    <select ng-model="order.productId" ng-options="product.name for product in products">
     <!--  <option value="{{product.id}}" ng-repeat="product in products">{{product.name}}</option> -->
    </select>
  <button type="submit">Add Order</button>
</form>

<h3>Table of orders</h3>
  <table>
    <tr>
      <th>User</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Date</th>
    </tr>
    <tr ng-repeat="order in orders">
      <th>{{order.user}}</th>
      <th>{{order.product}}</th>
      <th>{{order.quantity}}</th>
      <th>{{order.createdAt| date:"MM dd yyyy"}}</th>
    </tr>
  </table>
